
/**********NAVBAR***********/

body{
  font-family: "Poppins", sans-serif;
}

#logo{
  color: white;
  font-size: 1.5rem;
}

nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: white !important;
  border-bottom: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-bottom: 0.1875rem solid orange;
}

.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid orange;
}